@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }

  header, footer, nav, button, .print\:hidden {
    display: none !important;
  }

  #printable-receipt {
    box-shadow: none !important;
    border: 1px solid #ddd !important;
    margin: 0 !important;
    padding: 0.5in !important;
    width: 100% !important;
  }
}
